*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: gilroy;
}
html,body {
width: 100%;
height: 100%;
}

#home{
    height: 100%;
    width: 100%;
    background-color: #CACFD2 ;
    line-height: 70px;
}

h1{
    font-size: 45px;
    color: red;
}

h2{
    font-size: 40px;
    color: royalblue;
}

h3{
    font-size: 35px;
    color: brown;
}